.gallery{
    @extend %section;
}
.gallery__title{
    &--hide{
        @extend %vh;
    }
}
.gallery__lists{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.gallery__item{
    width: 450px;
    margin-bottom: 30px;
}