.page-header {
    // display: flex;
    // align-items: center;
    // border-bottom: 1px solid #ececec;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
  }
  .page-header__container{
    @media screen and (max-width: 767px){
      display: flex;
    align-items: center;
    justify-content: space-between;
    
    position: relative;
    }
    @media screen and (min-width: $tablet){
      display: flex;
      align-items: center;
    }
    @media screen and (min-width: $desktop){
      justify-content: center;
    }
  }