    $main-text-color: #757575;
    $main-background-color: #ffffff;
    $title-color: #212121;
    $accent-color: #2196f3;
    $hero-footer-background: #2f303a;
    $team-section-button-color: #f5f4fa;
    $primary-icon-color: #afb1b8;
    $main-font:'Roboto', sans-serif;
    $second-font:'Raleway',sans-serif;