.features{
    padding: 60px 0px;
}
.features__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: $title-color;
    &--hide{
    @extend %vh;
    }
}
.features__lists{
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.features__item{
    
    max-width: 450px;
    &:last-child{
        margin-bottom: 0;
    }
    @media screen and (max-width: 767px){
        margin-bottom: 30px;
    }
    @media screen and (min-width: $tablet){
        max-width: 354px;
        margin: 15px;
        flex-basis: calc((100% - 2 * 30) / 2);
    }
}
.features__container-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 120px;
    background-color:$team-section-button-color;
    border-radius: 4px;
    @media screen and (min-width: $tablet){
        max-width: 354px;
    }
}
.features__subtitle{
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-color;
}
.features__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}